@using VitalCareWeb.ViewModels.Doctor;
@model IEnumerable<DoctorViewModel>;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Doctors";
}

@section header{
    <h3 class="content-header-title">Doctors</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Doctors" asp-action="Index">Doctors</a>
                </li>
                <li class="breadcrumb-item">
                    <a>List</a>
                </li>
            </ol>
        </div>
    </div>
}

@section headerMenu
{
    <a class="btn box-shadow-2 px-2 mb-1 AddEditBtn"
       data-ajax="true"
       data-ajax-update="#DivModalTarget"
       data-ajax-begin="blockUI"
       data-ajax-complete="unblockUI"
       data-toggle="tooltip"
       asp-action="Add"
       asp-controller="Doctors"
       title="New Doctor">
       <i class="fa fa-plus-circle" style="margin-right:5px;font-size:17px;"></i>
        New
    </a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="table-responsive">
                            <table class="table align-items-center table-sm " id="DoctorsTable">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Speciality</th>
                                        <th>Location</th>
                                        <th>Short Description</th>
                                        <th>Long Description</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var doctor in @Model)
                                    {
                                        <tr>
                                            <td>
                                                <img height="120" width="120" src="@doctor.ImageUrl" />
                                                <div class="text-center" style="margin-top:5px;">
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="UploadDoctorImage"
                                                        asp-controller="Doctors"
                                                        asp-route-id="@doctor.Id"
                                                        title="Upload Image"><i class="fa fa-upload"> Upload</i></a>
                                                </div>
                                                
                                            </td>
                                            <td> @doctor.Name</td>
                                            <td> @doctor.Gender</td>
                                            <td> @doctor.SpecialityName</td>
                                            <td> @doctor.LocationName</td>
                                            <td> @doctor.ShortDescription</td>
                                            <td>
                                                <span class="d-inline-block text-truncate" style="max-width:350px;">
                                                    @doctor.LongDescription
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <a data-ajax="true"
                                                       data-ajax-update="#DivModalTarget"
                                                       data-ajax-begin="blockUI"
                                                       data-ajax-complete="unblockUI"
                                                       data-toggle="tooltip"
                                                       asp-action="Edit"
                                                       asp-controller="Doctors"
                                                       asp-route-id="@doctor.Id"
                                                       title="Edit Doctor">Edit</a>
                                                    <span> | </span>
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="Delete"
                                                        asp-controller="Doctors"
                                                        asp-route-id="@doctor.Id"
                                                        title="Delete Doctor">
                                                        <span class="text-danger">Delete</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".navItems").removeClass("active");
            $("#DoctorsNavId").addClass("active");

            $("#DoctorsTable").dataTable(
                {
                    bLengthChange: true,
                    bPaginate: true,
                    ordering: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search this list...",
                    }
                });

        });
    </script>
}