@using VitalCareWeb.ViewModels.Article;
@model ArticleViewModel

<li>
	<div class="post-thumb">
		<a asp-route-id="@Model.Id" asp-action="Article" asp-controller="Home">
			<img class="img-fluid" src="@Model.ImageUrl" alt="article-image">
		</a>
	</div>
	<div class="post-info">
		<h4>
			<a asp-route-id="@Model.Id" asp-action="Article" asp-controller="Home">@Model.Title</a>
		</h4>
		<p>@Model.PublishedDateString</p>
	</div>
</li>