@using VitalCareWeb.ViewModels.Location;
@model IEnumerable<LocationViewModel>;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Locations";
}

@section header{
    <h3 class="content-header-title">Locations</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Locations" asp-action="Index">Locations</a>
                </li>
                <li class="breadcrumb-item">
                    <a>List</a>
                </li>
            </ol>
        </div>
    </div>
}

@section headerMenu
{
    <a class="btn box-shadow-2 px-2 mb-1 AddEditBtn"
        data-ajax="true"
       data-ajax-update="#DivModalTarget"
       data-ajax-begin="blockUI"
       data-ajax-complete="unblockUI"
       data-toggle="tooltip"
       asp-action="Add"
       asp-controller="Locations"
       title="New Location">
        <i class="fa fa-plus-circle" style="margin-right:5px;font-size:17px;"></i>
        New
    </a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="table-responsive">
                            <table class="table align-items-center table-sm " id="LocationsTable">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Short Description</th>
                                        <th>Address</th>
                                        <th>PhoneNo</th>
                                        <th>Viber / WhatsAp</th>
                                        <th>Email</th>
                                        <th>Priority</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var location in @Model)
                                    {
                                        <tr>
                                            <td>
                                                <img height="120" width="120" src="@location.ImageUrl" />
                                                <div style="margin-top:5px;">
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="UploadLocationImage"
                                                        asp-controller="Locations"
                                                        asp-route-id="@location.Id"
                                                        title="Upload Image"><i class="fa fa-upload"> Upload</i></a>
                                                </div>                                                
                                            </td>
                                            <td> @location.Name</td>
                                            <td> @location.ShortDescription</td>
                                            <td> @location.Address</td>
                                            <td> @location.PhoneNo</td>
                                            <td> @location.ViberWhatsupNo</td>
                                            <td> @location.EmailAddress</td>
                                            <td> @location.Priority</td>
                                            <td class="text-center">
                                                <div>            
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="Edit"
                                                        asp-controller="Locations"
                                                        asp-route-id="@location.Id"
                                                        title="Edit Location">
                                                        Edit
                                                    </a>
                                                    <span> | </span>
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="Delete"
                                                        asp-controller="Locations"
                                                        asp-route-id="@location.Id"
                                                        title="Delete Location">
                                                        <span class="text-danger">Delete</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>                                       
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".navItems").removeClass("active");
            $("#LocationsNavId").addClass("active");

            $("#LocationsTable").dataTable(
                {
                    bLengthChange: true,
                    bPaginate: true,
                    ordering: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search this list...",
                    }
                });

        });
    </script>
}