@using VitalCareWeb.ViewModels.Article;
@model IEnumerable<ArticleViewModel>;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Articles";
}

@section header{
    <h3 class="content-header-title">Articles</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Articles" asp-action="Index">Articles</a>
                </li>
                <li class="breadcrumb-item">
                    <a>List</a>
                </li>
            </ol>
        </div>
    </div>
}

@section headerMenu
{
    <a class="btn box-shadow-2 px-2 mb-1 AddEditBtn"
       data-ajax="true"
       data-ajax-update="#DivModalTarget"
       data-ajax-begin="blockUI"
       data-ajax-complete="unblockUI"
       data-toggle="tooltip"
       asp-action="Add"
       asp-controller="Articles"
       title="New Article">
       <i class="fa fa-plus-circle" style="margin-right:5px;font-size:17px;"></i>
        New
    </a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="table-responsive">
                            <table class="table align-items-center table-sm " id="ArticlesTable">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Title</th>
                                        <th>Category</th>
                                        <th>Short Description</th>
                                        <th>Long Description</th>
                                        <th>Tags</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var article in @Model)
                                    {
                                        <tr>
                                            <td>
                                                <img height="120" width="120" src="@article.ImageUrl" />
                                                <div class="text-center" style="margin-top:5px;">
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="UploadArticleImage"
                                                        asp-controller="Articles"
                                                        asp-route-id="@article.Id"
                                                        title="Upload Image"><i class="fa fa-upload"> Upload</i></a>
                                                </div>
                                                
                                            </td>
                                            <td> @article.Title</td>
                                            <td> @article.ArticleCategoryName</td>
                                            <td> @article.ShortDescription</td>
                                            <td>
                                                <span class="d-inline-block text-truncate" style="max-width:350px;">
                                                   @article.LongDescription
                                                </span>
                                            </td>
                                            <td> 
                                                @foreach(var tag in article.Tags)
                                                {
                                                    <span class="badge badge-primary">@tag.Name</span>
                                                }
                                            </td>
                                            <td class="text-center">
                                                <div>
                                                    <a data-ajax="true"
                                                       data-ajax-update="#DivModalTarget"
                                                       data-ajax-begin="blockUI"
                                                       data-ajax-complete="unblockUI"
                                                       data-toggle="tooltip"
                                                       asp-action="Edit"
                                                       asp-controller="Articles"
                                                       asp-route-id="@article.Id"
                                                       title="Edit Article">Edit</a>
                                                    <span> | </span>
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="Delete"
                                                        asp-controller="Articles"
                                                        asp-route-id="@article.Id"
                                                        title="Delete Article">
                                                        <span class="text-danger">Delete</span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".navItems").removeClass("active");
            $("#ArticlesNavId").addClass("active");

            $("#ArticlesTable").dataTable(
                {
                    bLengthChange: true,
                    bPaginate: true,
                    ordering: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search this list...",
                    }
                });

        });
    </script>
}