@using VitalCareWeb.ViewModels.Service;
@model IEnumerable<ServiceViewModel>;
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Services";
}

@section header{
    <h3 class="content-header-title">Services</h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Services" asp-action="Index">Services</a>
                </li>
                <li class="breadcrumb-item">
                    <a>List</a>
                </li>
            </ol>
        </div>
    </div>
}

@section headerMenu
{
    <a class="btn box-shadow-2 px-2 mb-1 AddEditBtn"
       data-ajax="true"
       data-ajax-update="#DivModalTarget"
       data-ajax-begin="blockUI"
       data-ajax-complete="unblockUI"
       data-toggle="tooltip"
       asp-action="Add"
       asp-controller="Services"
       title="New Service">
       <i class="fa fa-plus-circle" style="margin-right:5px;font-size:17px;"></i>
        New
    </a>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-12 ">
                        <div class="table-responsive">
                            <table class="table align-items-center table-sm " id="ServicesTable">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Short Description</th>
                                        <th>Long Description</th>
                                        <th>Priority</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var service in @Model)
                                    {
                                        <tr>
                                            <td>
                                                <img height="120" width="120" src="@service.ImageUrl" />
                                                <div class="text-center" style="margin-top:5px;">
                                                    <a data-ajax="true"
                                                        data-ajax-update="#DivModalTarget"
                                                        data-ajax-begin="blockUI"
                                                        data-ajax-complete="unblockUI"
                                                        data-toggle="tooltip"
                                                        asp-action="UploadServiceImage"
                                                        asp-controller="Services"
                                                        asp-route-id="@service.Id"
                                                        title="Upload Image"><i class="fa fa-upload"> Upload</i></a>
                                                </div>
                                                
                                            </td>
                                            <td> @service.Name</td>
                                            <td> @service.ShortDescription</td>
                                            <td>
                                                <span class="d-inline-block text-truncate" style="max-width:350px;">
                                                    @service.LongDescription
                                                </span>
                                            </td>
                                            <td> @service.Priority</td>
                                            <td class="text-center">
                                                <div>
                                                    <a data-ajax="true"
                                                       data-ajax-update="#DivModalTarget"
                                                       data-ajax-begin="blockUI"
                                                       data-ajax-complete="unblockUI"
                                                       data-toggle="tooltip"
                                                       asp-action="Edit"
                                                       asp-controller="Services"
                                                        asp-route-id="@service.Id"
                                                       title="Edit Service">Edit</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $(".navItems").removeClass("active");
            $("#ServicesTabId").addClass("active");

            $("#ServicesTable").dataTable(
                {
                    bLengthChange: true,
                    bPaginate: true,
                    ordering: true,
                    language: {
                        search: "",
                        searchPlaceholder: "Search this list...",
                    }
                });

        });
    </script>
}