@using VitalCareWeb.ViewModels;
@model ArticlesPageViewModel
@{
    ViewData["Title"] = "Article";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
	<div class="container">
		<div class="row align-items-center inner-banner">
			<div class="col-md-12 col-12 text-center">
				<h2 class="breadcrumb-title">Article Details</h2>
				<nav aria-label="breadcrumb" class="page-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
						<li class="breadcrumb-item"><a href="/Home/Articles">Articles</a></li>
						<li class="breadcrumb-item" aria-current="page">Article Details</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="content">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 col-md-12">
				<div class="blog-view">
					<div class="blog blog-single-post">
						<div class="blog-image">
							<a href="javascript:void(0);"><img alt="blog-image" src="@Model.Article.ImageUrl" class="img-fluid"></a>
						</div>
						<h3 class="blog-title">@Model.Article.Title</h3>
						<div class="blog-info clearfix">
							<div class="post-left">
								<ul>
									<li>
										<div class="post-author">
											<a href="#"><span>@Model.Article.AuthorName</span></a>
										</div>
									</li>
									<li><i class="far fa-calendar"></i>@Model.Article.PublishedDateString</li>
								</ul>
							</div>
						</div>
						<div class="blog-content">
							@Html.Raw(Model.Article.LongDescription)
						</div>
					</div>

					<div class="card blog-share clearfix">
						<div class="card-header">
							<h4 class="card-title">Share the post</h4>
						</div>
						<div class="card-body">
							<ul class="social-share">
								<li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
								<li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" title="Google Plus"><i class="fab fa-google-plus"></i></a></li>
								<li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Article Sidebar -->
			<partial model="@Model" name="/Views/Shared/Articles/_ArticleSlider.cshtml" />
			<!-- /Article Sidebar -->

		</div>
	</div>

</div>
<!-- /Page Content -->
<style>

	#IndexNavId a {
		color: #4D555F !important;
	}

	#AboutUsNavId a {
		color: #4D555F !important;
	}

	#ServicesNavId a {
		color: #4D555F !important;
	}
	
	#DoctorsNavId a {
		color: #4D555F !important;
	}

	#ArticlesNavId a {
		color: #06A5A0 !important;
		text-decoration: underline;
		text-underline-offset: 8px;
	}

	#ContactNavId a {
		color: #4D555F !important;
	}

</style>


@section Scripts{
	<script>


	</script>
}