@using VitalCareWeb.ViewModels;
@model ContactUsPageViewModel;
@{
    ViewData["Title"] = "Contact Us";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar-two">
    <div class="container">
        <div class="row align-items-center inner-banner">
            <div class="col-md-12 col-12 text-center">
                <h2 class="breadcrumb-title">Contact Us</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Contact Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Clinics Contacts Page -->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="section-inner-header contact-inner-header">
                            <h6 style="color:#06A5A0 !important">Find us</h6>
                            <h3>Feel free to contact us.</h3>
                        </div>

                        <ul class="nav nav-pills mb-3 gap-2" id="pills-tab" role="tablist">
                            @foreach (var contact in Model.Contacts)
                            {
                                <li class="nav-item" role="presentation">
                                    <button class="@contact.TabClass" id="@contact.TabId" data-bs-toggle="pill" data-bs-target="@contact.DataTarget" role="tab" aria-controls="@contact.AreaControl" aria-selected="true">@contact.Name</button>
                                </li>
                            }                           
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            @foreach (var contact in Model.Contacts)
                            {
                                <div class="@contact.TabContentClass" id="@contact.AreaControl" role="tabpanel" aria-labelledby="@contact.TabId" tabindex="0">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="card contact-card h-100">
                                                    <div class="card-body">
                                                        <div class="contact-icon">
                                                            <i class="feather-map-pin" style="color:#06A5A0 !important"></i>
                                                        </div>
                                                        <div class="contact-details">
                                                            <h4>Address</h4>
                                                            <p>@contact.Address</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card contact-card h-100">
                                                    <div class="card-body">
                                                        <div class="contact-icon">
                                                            <i class="feather-phone" style="color:#06A5A0 !important"></i>
                                                        </div>
                                                        <div class="contact-details">
                                                            <div class="row">
                                                                <h4>Phone</h4>
                                                                <p>@contact.PhoneNo</p>
                                                            </div>
                                                            <div class="row mt-4">
                                                                <h4>Viber / WhatsApp</h4>
                                                                <p>@contact.ViberWhatsupNo</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="card contact-card h-100">
                                                    <div class="card-body">
                                                        <div class="contact-icon">
                                                            <i class="feather-mail" style="color:#06A5A0 !important"></i>
                                                        </div>
                                                        <div class="contact-details">
                                                            <h4>Email Address</h4>
                                                            <p>@contact.EmailAddress</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer d-flex justify-content-center">
                                                        <ul class="nav text-xl gap-3">
                                                            <li>
                                                                <a href="@contact.FacebookURL" target="_blank"><i class="fab fa-facebook"></i> </a>
                                                            </li>
                                                            <li>
                                                                <a href="@contact.InstagramURL" target="_blank"><i class="fab fa-instagram"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-4">
                                            <div class="contact-map d-flex">
                                                <iframe src="@contact.IFrameURL" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Clinics Contacts Page -->
<!-- Inquery Page -->
<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 d-flex">
                <div class="card contact-form-card w-100" style="background-color:#F7F9F9">
                    <div class="card-body">
                        <div class="section-inner-header contact-inner-header">
                            <h6 style="color:#06A5A0 !important">Get in touch</h6>
                            <h2>Have Any Question?</h2>
                        </div>
                        <form method="post"
                              asp-action="CreateInquery"
                              asp-controller="Home"
                              id="CreateInqueryFormId">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="CreateInquiryViewModel.Name" class="mb-2 required"></label>
                                        <input asp-for="CreateInquiryViewModel.Name" class="form-control" placeholder="Enter Your Name" />
                                        <span asp-validation-for="CreateInquiryViewModel.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="CreateInquiryViewModel.EmailAddress" class="mb-2 required"></label>
                                        <input asp-for="CreateInquiryViewModel.EmailAddress" class="form-control" placeholder="Enter Email Address" />
                                        <span asp-validation-for="CreateInquiryViewModel.EmailAddress" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label asp-for="CreateInquiryViewModel.PhoneNo" class="mb-2 required"></label>
                                        <input asp-for="CreateInquiryViewModel.PhoneNo" class="form-control" placeholder="Enter Phone Number" />
                                        <span asp-validation-for="CreateInquiryViewModel.PhoneNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label asp-for="CreateInquiryViewModel.Message" class="mb-2 required"></label>
                                        <textarea asp-for="CreateInquiryViewModel.Message" rows="4" class="form-control" placeholder="Enter your Inquery"></textarea>
                                        <span asp-validation-for="CreateInquiryViewModel.Message" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group-btn mb-0">
                                        <button type="submit" class="btn btn-primary prime-btn specialBtn" id="SubmitButtonId">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Inquery Page -->


<style>
    .nav-pills > li > button {
        color: #4D555F !important;
        border: 1px solid #06A5A0;
    }

    .nav-pills > li > button.active {
        background-color: #06A5A0 !important;
        color: white !important;
    }

    .specialBtn {
        background-color: #06A5A0;
        border-color: #06A5A0 !important;
    }

    .specialBtn:hover {
        color: #06A5A0 !important;
        border-color: #06A5A0 !important
    }

    .specialBtn:disabled {
        color: #06A5A0 !important;
        border-color: #06A5A0 !important;
        background-color: #F5F5F5 !important;
    }

</style>

<style>

    #IndexNavId a {
        color: #4D555F !important;
    }

    #AboutUsNavId a {
        color: #4D555F !important;
    }

    #ServicesNavId a {
        color: #4D555F !important;
    }

    #DoctorsNavId a {
        color: #4D555F !important;
    }

    #ArticlesNavId a {
        color: #4D555F !important;
    }

    #ContactNavId a {
        color: #06A5A0 !important;
        text-decoration: underline;
        text-underline-offset: 8px;
    }

</style>

@section Scripts{
    <script>

        $('#CreateInqueryFormId').submit(function () {
            $(this).find("button[type='submit']").prop('disabled', true);
        });

        $('#CreateInqueryFormId').change(function () {
            $('#SubmitButtonId').prop('disabled', false);
        });

    </script>
}
